body { 
background-color: #faf2e4;   
margin: 0% 10%;  
font-family: "Tino",sans-serif;  
} 

h1 { 
text-align: center; 
font-family: "Tino",serif; 
font-weight: normal; 
text-transform: uppercase; 
border-bottom: 1px solid #57b1dc; 
margin-top: 30px; 
} 
 
h2 { 
color: #d1633c; 
font-family: "Tino", serif; 
font-size: 30px;
}

h3 {  
font-family: "Tino", serif;
font-size: 25px;
}  

p { 
font-family: "Tino", serif; 
font-size: 20px;
}

footer {
border-top: 1px solid #57b1dc;
text-align: center;
padding-top: 1em;
}

footer img {
width: 40px;
height: 40px;
margin-left: .5em;
margin-right: .5em;
}

nav {
text-align: center;
}

nav ul li {
text-align: center;
display: inline;
margin: 15px;
}

nav ul li a {
border-radius: 20px;
text-align: center;
margin-bottom: 15px;
padding: 10px;
background-color: #d1633c;
color: black;
display: inline-block;
font-weight: bolder;
text-decoration: none;
}